@model GtecIt.ViewModels.PessoaIndexViewModel
<br />
@{
    ViewBag.Title = "Pessoas";
}


@using (Html.BeginForm("Index", "Pessoa", FormMethod.Get, new { @class = "form-inline", @role = "form" }))
{
    <div id="divErros">
    </div>
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="form-group">

            @Html.TextBoxFor(x => x.nome, new { @class = "form-control", @placeholder = "Nome", @autofocus = "autofocus" })
        </div>
        <button name="tipoacao" type="submit" value="consultatodos" class="btn btn-primary">
            <i class="glyphicon glyphicon-search"></i> Consultar
        </button>


        <a id="btnNovo" href="@Url.Action("Create","Pessoa")" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Novo
        </a>

    </fieldset>
}
@if (Model != null && Model.Grid.Any())
{
    <div id="grid ">
        <hr />
        <table id="tabelaGrid" class="table table-bordered table-striped table-hover table-responsive dt-responsive">
            <thead>
                <tr>
                    <th class="col-sm-1">Tipo</th>
                    <th class="col-sm-4">Nome</th>
                    <th class="col-sm-4">Razão Social</th>
                    <th class="col-sm-1">Contato</th>
                    <th class="col-sm-2">Telefone 01</th>
                    <th class="col-sm-2">Status</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>

            </thead>
            <tbody id="corpoTabelaGrid">
                @foreach (var item in Model.Grid)
                {
                    //var tp_pessoa = item.Id_grltopessoa.ToUpper() == "F" ? "Física" : "Juridica";
                    //var nome = item.nome.Length >0 ? item.nome : item.razao_social;

                <tr class="@item.Id_grlbasico">
                    <td>@item.Id_grltopessoa</td>
                    <td>@item.nome</td>
                    <td>@item.razao_social</td>
                    <td>@item.contato</td>
                    <td>@item.ddd_telefone</td>
                    <td>@item.status</td>

                    <td class="text-center col-sm-1">
                        <a href="@Url.Action("Edit", new RouteValueDictionary
                                     {
                                         {"codigo", item.Id_grlbasico}
                                     })" />
                        <span class="glyphicon glyphicon-pencil" />
                    </td>
                    <td class="text-center col-sm-1">
                        <a href="#" class="glyphicon glyphicon-trash btnGridExcluir" data-toggle="modal" data-target="#modalExclusao" data-id="@item.Id_grlbasico"></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

<div id="modalExclusao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Exclusão de registro</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja realmente excluir este registro? </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary " id="btnModalExclusaoConfirmar">
                    <span class="glyphicon glyphicon-ok"></span> Confirma
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalExclusaoCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tabelaGrid').DataTable();
        });


        $(".btnGridExcluir").click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var linha = $("." + id);
            $("#btnModalExclusaoConfirmar").off("click").click(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Pessoa")',
                    data: {
                        "codigo": id
                    },
                    success: function (data) {
                       
                        if (data.Sucesso == true)
                        {
                            //linha.remove();
                            $('#modalExclusao').modal('hide');
                            location.reload();
                           /* if ($("#corpoTabelaGrid").children("tr").length > 0) {
                                return true;
                            }
                            else {
                                $("#grid").remove();
                                return true;
                            }*/
                        }
                        else {

                            $('#modalExclusao').modal('hide');

                            $("#divErros").empty();

                            var i = 0;
                            $(data.msg).each(function () {


                                $("#divErros").append("<p style=color:red>" + "* " + data.msg[i] + "</p>");

                                i = i + 1;

                                //crie uma divErros em sua modal.
                            });


                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });

    </script>
}