@using GtecIt.HTMLHelpers
@model GtecIt.ViewModels.OrcamentoCreateViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="~/Scripts/methods_pt.js"></script>

<h1></h1>
@{
    ViewBag.Title = "Incluir - Contrato";
}

@using (Html.BeginForm("Create", "Orcamento", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div id="panelgerais" class="panel panel-default ">
            <div class="panel-heading">
                Dados Gerais
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-2">
                        <label>Contrato No.</label>
                        <input class="form-control" name="id_orcamento" type="text" readonly />
                    </div>

                    <div class="col-sm-2">
                        <label>Emissão</label>
                        @Html.TextBoxFor(x => x.Dt_orcamento, "{0:dd/MM/yyyy}", new { @class = "form-control default-date-picker", @autofocus = "autofocus", @name = "Dt_orcamento", @id = "Dt_orcamento" })
                        @Html.ValidationMessageFor(model => model.Dt_orcamento, "", new { @class = "text-danger" })
                    </div>



                    <div class="col-sm-8">
                        <label>Aluno</label>
                        <div class="form-group row">

                            <div class="col-sm-11">
                                @Html.AutoCompleteFor(x => x.NomeCliente, "id_grlcliente", Model.id_grlcliente, Url.Action("AutoCompleteClientePreFetch", "Cliente"), "a", true, "iniciarListaCliente")
                                @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                            </div>

                            <a id="btnVoltar" href="@Url.Action("Create","Cliente", new {origem= "cliente_orcamento",orcamento = 0})" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>

                    </div>
                </div>
                <h1></h1>
                <div class="row">
                    <div class="col-sm-5">
                        <label>Professor</label>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                @Html.AutoCompleteFor(x => x.NomeDentista, "Id_grldentista", Model.Id_grldentista, Url.Action("AutoCompleteDentistaPreFetch", "Dentista"), "a", true, "iniciarListaDentista")

                                @Html.ValidationMessageFor(model => model.NomeDentista, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.NomeDentista, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                            </div>
                            <a id="btnVoltar2" href="@Url.Action("Create","Dentista", new {origem= "vendedor_orcamento",orcamento = 0})" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Plano</label>

                        @Html.DropDownListFor(x => x.id_grlconvenio, Model.Dropdownconvenio, "Selecione...", new { @class = "form-control", @name = "id_grlconvenio", @id = "id_grlconvenio" })
                        @Html.ValidationMessageFor(model => model.id_grlconvenio, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <label>Observação</label>

                        @Html.TextBoxFor(x => x.Obs, new { @class = "form-control", @name = "obs", })
                        @Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h1></h1>
    </fieldset>
    <div class="row">
        <div class="form-group col-sm-1">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>
        </div>
        <div class="form-group col-sm-1">
            <a id="btnVoltar" href="@Url.Action("Index")" class=" btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> Voltar
            </a>
        </div>

    </div>

}


<div class="modal fade" id="modalPessoa" data-carregadefault="true" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Consulta Cadastro Básico</h4>
            </div>
            <form id="formPessoa" data-url="@Url.Action("ObterPessoa", "Pessoa")">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Pesquisar por:</label>

                            <select class="form-control" id="tipoConsultaModalPessoa" name="tipoConsultaModalPessoa">
                                <option value="codigo" selected>Código</option>
                                <option value="descricao">Nome</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label>Filtro</label>
                            <input type="text" class="form-control" id="descricaoModalPessoa" name="descricaoModalPessoa" onkeypress="return SomenteNumero()" required="required" />

                        </div>
                    </div>
                    <div class="row" id="body">
                        <table class="table table-condensed table-hover table-responsive">
                            <thead>
                                <tr style="background-color:#F8F8F8">
                                    <th class="col-sm-2 text-center">Código</th>
                                    <th>Descrição</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody id="tabelaPessoa"></tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal fade" id="modalIncluirTipoTelefone" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Incluir - Tipo de Telefone</h4>
            </div>
            <form id="formInclusaoTipoTelefone" class="form-horizontal" role="form">
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group">
                            <label for="descricao" class="col-md-2 control-label">Descrição</label>
                            <div class="col-md-5">
                                <input id="descricao" name="descricao" type="text"
                                       class="form-control" maxlength="50" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnModalIncluirConfirmar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalIncluirEndereco" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Incluir - Endereço</h4>
            </div>
            <form id="formInclusaoEndereco" class="form-horizontal" role="form">
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group">
                            <label for="descricao" class="col-md-2 control-label">Descrição</label>
                            <div class="col-md-5">
                                <input id="descricao" name="descricao" type="text"
                                       class="form-control" maxlength="50" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnModalIncluirConfirmar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modalExclusao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Exclusão de registro</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja realmente excluir este registro? </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary " id="btnModalExclusaoConfirmar">
                    <span class="glyphicon glyphicon-ok"></span> Confirma
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalExclusaoCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCliente" data-carregadefault="true" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Consulta Cliente</h4>
            </div>
            <form id="formCliente" data-url="@Url.Action("ObterCliente", "Cliente")">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Pesquisar por:</label>

                            <select class="form-control" id="tipoConsultaModalCliente" name="tipoConsultaModalCliente">
                                <option value="codigo" selected>Código</option>
                                <option value="descricao">Nome</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label>Filtro</label>
                            <input type="text" class="form-control" id="descricaoModalCliente" name="descricaoModalCliente" onkeypress="return SomenteNumero()" required="required" />

                        </div>
                    </div>
                    <div class="row" id="body">
                        <table class="table table-condensed table-hover table-responsive">
                            <thead>
                                <tr style="background-color:#F8F8F8">
                                    <th class="col-sm-2 text-center">Código</th>
                                    <th>Descrição</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody id="tabelaCliente"></tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalDentista" data-carregadefault="true" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Consulta Dentista</h4>
            </div>
            <form id="formDentista" data-url="@Url.Action("ObterDentista", "Dentista")">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Pesquisar por:</label>

                            <select class="form-control" id="tipoConsultaModalDentista" name="tipoConsultaModalDentista">
                                <option value="codigo" selected>Código</option>
                                <option value="descricao">Nome</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label>Filtro</label>
                            <input type="text" class="form-control" id="descricaoModalDentista" name="descricaoModalDentista" onkeypress="return SomenteNumero()" required="required" />

                        </div>
                    </div>
                    <div class="row" id="body">
                        <table class="table table-condensed table-hover table-responsive">
                            <thead>
                                <tr style="background-color:#F8F8F8">
                                    <th class="col-sm-2 text-center">Código</th>
                                    <th>Descrição</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody id="tabelaDentista"></tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            iniciarListaCliente(); //Iniciando a lista manualmente
            iniciarListaDentista(); //Iniciando a lista manualmente


        });




        $(".btnGridExcluir").click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');

            var linha = $("." + id);
            $("#btnModalExclusaoConfirmar").off("click").click(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Endereco")',
                    data: {
                        "codigo": id
                    },
                    success: function (data) {
                        if (data == true) {
                            linha.remove();
                            $('#modalExclusao').modal('hide');
                            if ($("#corpoTabelaGrid").children("tr").length > 0) {
                                return true;
                            }
                            else {
                                $("#grid").remove();
                                return true;
                            }
                        } else {
                            alert("Ocorreu um erro ao tentar excluir o registro.");
                            $("#btnModalExclusaoCancelar").click();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });

        $('.btnGridEditar').click(function (e) {
            e.preventDefault();
            var url = '@Url.Action("Edit", "Endereco")' + '?codigo=' + $(this).data('id');

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalEdicao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
             .append(modalDialog)
             .on('hidden.bs.modal', function () { $(this).remove(); })
             .appendTo('body');

            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.modal('show');
            });
        });

        $('#btnNovo').click(function (e) {
            e.preventDefault();

            var url = '@Url.Action("Create", "Endereco")' + '?codigo=' + $(this).data('id');

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalInclusao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () { $(this).remove(); })
                .appendTo('body');


            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.on('show.bs.modal', function () { $(this).find('input:first').focus(); });
                modal.modal('show');
            });
        });


        $('#formInclusaoProfissao').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateModal", "Profissao")',
                data: $("#formInclusaoProfissao").serialize(),
                success: function (result) {
                    if (result == true) {
                        $("#modalIncluirProfissao").modal('hide');
                        $("#modalIncluirProfissao").find('#descricao').val("");
                        $('#NomeProfissao').val(result.descricao);
                        $('#CodigoProfissao').val(result.Id_grlprofi);
                    } else {
                        alert("Ocorreu um erro.");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });


    </script>
    @Scripts.Render("~/Scripts/gtec/modal.tipotelefone.js")
    @Scripts.Render("~/Scripts/gtec/modal.tpfone2.js")
    @Scripts.Render("~/Scripts/gtec/modal.sexo.js")
    @Scripts.Render("~/Scripts/gtec/modal.estado.js")
    @Scripts.Render("~/Scripts/gtec/modal.profissao.js")
    @Scripts.Render("~/Scripts/gtec/modal.cliente.js")
    @Scripts.Render("~/Scripts/gtec/modal.dentista.js")
    @Scripts.Render("~/Scripts/gtec/modal.pessoa.js")
}