
@model GtecIt.ViewModels.AulaCreateViewModel

<script src="~/Scripts/defaults.js"></script>
@{
    Layout = null;
}
<form id="formEdicao" class="form-horizontal" role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Renovação de Contrato </h4>
    </div>
    <div class="modal-body">
        <div id="divErros">
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.id_Stqcporcamento)
        @Html.HiddenFor(x => Model.idGercdaulas)
        @Html.HiddenFor(x => Model.dia_semana)
        <div class="form-group">



            <div class="col-sm-12">
                <label>Professor</label>


                @Html.DropDownListFor(x => x.id_grldentista, Model.DropdownProduto, "Selecione...", new { @class = "form-control", @name = "NomeProduto", @id = "NomeProduto" })


            </div>


        </div>

        <hr />

        <div class="form-group">

            <div class="col-sm-12">

                <label>Deseja repetir a modificação para todos(as) :  @Model.dia_semana</label>
                @Html.CheckBoxFor(m => m.segunda)


            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
    </div>
</form>


<script type="text/javascript">

    $(document).ready(function () {
      
    });


    $('#formEdicao').on('submit', function (e) {

        e.preventDefault();



        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edithorario", "Orcamento")',
            data: $("#formEdicao").serialize(),
            success: function (result) {

                if (result.Sucesso == true) {

                   // window.location.href = '@(Url.Action("Edit", "Orcamento"))?' + 'Codigo=' + result.msg;
                    $("#modalEdicao").modal('hide');
                }
                else {



                    $("#divErros").empty();

                    var i = 0;
                    $(result.msg).each(function () {


                        $("#divErros").append("<p style=color:red>" + "* " + result.msg[i] + "</p>");

                        i = i + 1;

                        //crie uma divErros em sua modal.
                    });


                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

</script>
