@model GtecIt.ViewModels.OrcamentoEditViewModel
@using GtecIt.HTMLHelpers

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="~/Scripts/methods_pt.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<h1></h1>

@{
    ViewBag.Title = "Edição - Contrato";
}
<h1></h1>
<style>
    .black {
        color: #000000 !important;
        cursor: not-allowed !important;
    }
</style>
<meta name="viewport" content="width=device-width" />
@using (Html.BeginForm("Edit", "Orcamento", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div id="panelgerais" class="panel panel-default" disabled="@Model.itemorcamentos.Any()">
            <div class="panel-heading">
                Dados Contrato
            </div>
            <div class="panel-body">
                <fieldset id="fspanelgerais">
                    <div class="row">
                        @Html.HiddenFor(x => x.id_Stqcporcamento)
                        @Html.HiddenFor(x => x.status)
                        @Html.HiddenFor(x => x.id_Grltpatendimento)
                        <div class="col-sm-2">
                            <label>Contrato No.</label>
                            @Html.TextBoxFor(x => x.id_Stqcporcamento, new { @class = "form-control ", @name = "id_orcamento", @id = "id_orcamento", @readonly = "true" })
                        </div>
                        <div class="col-sm-2">
                            <label>Emissão</label>
                            @Html.TextBoxFor(x => x.Dt_orcamento, new { @class = "form-control datesimple", @autofocus = "autofocus", required = "required", @name = "Dt_orcamento", @id = "Dt_orcamento" })
                        </div>

                        <div class="col-sm-8">
                            <label>Aluno</label>
                            <div class="form-group row">

                                <div class="col-sm-11">
                                    @Html.AutoCompleteFor(x => x.NomeCliente, "id_grlcliente", Model.id_grlcliente, Url.Action("AutoCompleteClientePreFetch", "Cliente"), "a", true, "iniciarListaCliente")
                                    @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                                </div>

                                <a id="btnVoltar" href="@Url.Action("Create","Cliente", new {origem= "cliente_orcamento",orcamento =@Model.id_Stqcporcamento })" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                    <h1></h1>
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Professor</label>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    @Html.AutoCompleteFor(x => x.NomeDentista, "Id_grldentista", Model.Id_grldentista, Url.Action("AutoCompleteDentistaPreFetch", "Dentista"), "a", true, "iniciarListaDentista")

                                    @Html.ValidationMessageFor(model => model.NomeDentista, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.NomeDentista, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                                </div>
                                <a id="btnVoltar2" href="@Url.Action("Create","Dentista", new {origem= "vendedor_orcamento",orcamento =@Model.id_Stqcporcamento })" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Plano</label>

                            @Html.DropDownListFor(x => x.id_grlconvenio, Model.Dropdownconvenio, "Selecione...", new { @class = "form-control", @name = "id_grlconvenio", @id = "id_grlconvenio" })
                            @Html.ValidationMessageFor(model => model.id_grlconvenio, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-4">
                            <label>Observação</label>

                            @Html.TextBoxFor(x => x.Obs, new { @class = "form-control", @name = "obs", })
                            @Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
                <h1></h1>
                <fieldset id="fspanelorcamentos">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelEndereco" class="panel panel-default">
                                <div class=" panel-heading">
                                    <a href="#" id="btnNovo" class="btn btn-primary" data-id="@Model.id_Stqcporcamento" data-convenio="@Model.id_grlconvenio">
                                        Serviços <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>

                                <div class="panel-body ">

                                    <div class="row">

                                        @if (Model != null && Model.itemorcamentos != null && Model.itemorcamentos.Any())
                                        {

                                            decimal soma_total = 0;
                                            <div id="grid ">

                                                <table id="tabelaGrid" class="table table-bordered table-striped table-hover table-responsive dt-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-sm-1">Codigo</th>
                                                            <th class="col-sm-3">Serviço</th>
                                                            <th class="col-sm-1 text-right">Qtd</th>
                                                            <th class="col-sm-1 text-right">Vl. Unit.</th>
                                                            <th class="col-sm-1 text-right">Desc.</th>
                                                            <th class="col-sm-1 text-right">Desc. %</th>
                                                            <th class="col-sm-1 text-right">Valor Total</th>
                                                            <th class="text-center"></th>
                                                            <th class="text-center"></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="corpoTabelaGridOrcamentos">
                                                        @foreach (var item in Model.itemorcamentos)
                                                        {

                                                            Decimal valor_final;
                                                            Decimal valor_pago_final;
                                                            Decimal valor_total = (Convert.ToDecimal((item.qtd) * Convert.ToDecimal(item.Vl_unitario))) - Convert.ToDecimal(item.desconto);

                                                            if (item.descontoperc != 0)
                                                            {
                                                                valor_total = valor_total - (valor_total * Convert.ToDecimal(item.descontoperc) / 100);
                                                                valor_final = valor_total;
                                                            }
                                                            else
                                                            {
                                                                valor_final = valor_total;
                                                            }
                                                            soma_total = soma_total + valor_final;

                                                            <tr class="@item.id_stqitorcamento">
                                                                <td>@item.produtos.Id_stqcdprd</td>
                                                                <td>@item.produtos.desc_produto</td>
                                                                <td class="text-right">@item.qtd</td>
                                                                <td class="text-right">@item.Vl_unitario</td>
                                                                <td class="text-right">@item.desconto</td>
                                                                <td class="text-right">@item.descontoperc</td>
                                                                <td class="text-right">@valor_total.ToString("C2")</td>
                                                                @if (@Model.titulos.Count <= 0)
                                                                {
                                                                    <td class="text-center col-sm-1">
                                                                        <a href="#" class="glyphicon glyphicon-pencil btnGridEditar" data-id="@item.id_stqitorcamento"></a>
                                                                    </td>
                                                                    <td class="text-center col-sm-1">
                                                                        <a href="#" class="glyphicon glyphicon-trash btnGridExcluir" data-toggle="modal" data-target="#modalExclusao" data-id="@item.id_stqitorcamento"></a>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="text-center col-sm-1">
                                                                        <span class="glyphicon glyphicon-pencil" title="Edição de Procedimentos"></span>
                                                                    </td>
                                                                    <td class="text-center col-sm-1">
                                                                        <span class="glyphicon glyphicon-trash" title="Exclusão de Procedimentos"></span>
                                                                    </td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="panel-footer clearfix">
                                                <div class="pull-right">
                                                    <a href="#" class="btn btn-default" name="somaitens" id="somaitens">Valor Total: @soma_total.ToString("N2")</a>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="fspaneltitulos">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelEndereco2" class="panel panel-default" disabled="@Model.titulos.Any()">
                                <div class="panel-heading">

                                    <button id="btnNovoTitulo" type="button" style="margin-left: 5px" class="btn btn-primary" data-id="@Model.id_Stqcporcamento">Titulos <span class="glyphicon glyphicon-plus"></span></button>

                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        @if (Model != null && Model.titulos != null && Model.titulos.Any())
                                        {

                                            decimal valorTitulos = 0;
                                            decimal valorpago = 0;
                                            <div id="grid ">

                                                <table id="tabelaGrid" class="table table-bordered table-striped table-hover table-responsive dt-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Titulo No.</th>
                                                            <th>Emissão</th>
                                                            <th class="text-right">Valor</th>
                                                            <th>Vencimento</th>
                                                            <th class="text-right">Vl. Pago</th>
                                                            <th>Pagamento</th>
                                                            <th class="text-center"></th>
                                                            <th class="text-center"></th>
                                                            <th class="text-center"></th>
                                                            <th class="text-center"></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="corpoTabelaGrid">
                                                        @foreach (var item in Model.titulos.OrderBy(x => x.dt_vencimento))
                                                        {

                                                            valorTitulos = valorTitulos + Convert.ToDecimal(item.Valor);
                                                            valorpago = valorpago + Convert.ToDecimal(item.Valor_pago);

                                                            var data = item.dt_emissao.HasValue ? item.dt_emissao.ToString().Substring(0, 10) : "-";
                                                            var data_vencimento = item.dt_vencimento.HasValue ? item.dt_vencimento.ToString().Substring(0, 10) : "-";
                                                            var data_pagamento = item.dt_pagamento.HasValue ? item.dt_pagamento.ToString().Substring(0, 10) : "-";
                                                            decimal _valor_pago = 0;
                                                            if (item.Valor_pago == null)
                                                            {
                                                                _valor_pago = Convert.ToDecimal(string.Format("{0:0.00}", 0));

                                                            }

                                                            else
                                                            {
                                                                _valor_pago = Convert.ToDecimal(item.Valor_pago);
                                                            }
                                                            if (data_pagamento == "01/01/1000")
                                                            {
                                                                data_pagamento = "-";
                                                            }

                                                            <tr class="@item.id_fintitrc">
                                                                <td>@item.num_titulo</td>
                                                                <td>@data</td>
                                                                <td class="text-right">@item.Valor</td>
                                                                <td>@data_vencimento</td>
                                                                <td class="text-right">@_valor_pago</td>
                                                                <td>@data_pagamento</td>
                                                                @if (!item.Valor_pago.HasValue)
                                                                {
                                                                    <td class="text-center col-sm-1">
                                                                        <a href="#" class="glyphicon glyphicon-pencil btnGridEditarTitulo" data-id="@item.id_fintitrc"></a>
                                                                    </td>
                                                                    <td class="text-center col-sm-1">
                                                                        <a href="#" class="glyphicon glyphicon glyphicon-usd btnGridQuitarTitulo" data-id="@item.id_fintitrc" title="Quitação de Titulos"></a>
                                                                    </td>


                                                                    <td class="text-center col-sm-1">
                                                                        <span class="glyphicon glyphicon-transfer" title="Abertura de Titulos"></span>
                                                                    </td>
                                                                    <td class="text-center col-sm-1">
                                                                        <a href="#" class="glyphicon glyphicon-trash btnGridExcluirtitulo" data-toggle="modal" data-target="#modalExclusao" data-id="@item.id_fintitrc"></a>
                                                                    </td>


                                                                }
                                                                else
                                                                {
                                                                    <td class="text-center col-sm-1">
                                                                        <span class="glyphicon glyphicon-pencil" title="Edição de Titulos"></span>
                                                                    </td>


                                                                    <td class="text-center col-sm-1">
                                                                        <span class="glyphicon glyphicon glyphicon-usd" title="Quitação de Titulos"></span>
                                                                    </td>
                                                                    <td class="text-center col-sm-1">
                                                                        <a href="#" class="glyphicon glyphicon-transfer btnGridAbrirtitulo" data-toggle="modal" data-target="#modalAbertura" data-id="@item.id_fintitrc" title="Abertura de Titulos"></a>
                                                                    </td>
                                                                    <td class="text-center col-sm-1">
                                                                        <span class="glyphicon glyphicon-trash" title="Exclusão de Titulos"></span>
                                                                    </td>
                                                                }


                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="panel-footer clearfix">
                                                <div class="pull-left">
                                                    <a href="" class="btn btn-default" name="somatitulos" id="somatitulos">Valor Total dos Titulos: @valorTitulos.ToString("N2")</a>


                                                </div>
                                                <div class="pull-right">
                                                    <a href="" class="btn btn-default" name="somatitulospagos" id="somatitulospagos">Valor Total Pago dos Titulos : @valorpago.ToString("N2")</a>


                                                </div>

                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>

                <fieldset id="fspanelhorarios">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panelEndereco" class="panel panel-default">
                                <div class=" panel-heading">
                                    @if (Model.aulas != null && Model.aulas.Any())
                                    {
                                        if (Model.itemorcamentos != null && Model.itemorcamentos.Any())
                                        {
                                            <a href="#" id="btnNovohorario" class="btn btn-primary" data-id="@Model.id_Stqcporcamento" data-convenio="@Model.id_grlconvenio">
                                                Aulas <span class="glyphicon glyphicon-plus" disabled='disabled'></span>
                                            </a>
                                           
                                            <a href="#" class="glyphicon glyphicon-trash btnGridExcluiraulas" data-toggle="modal" data-target="#modalExclusao2" data-id="@Model.id_Stqcporcamento" data-convenio="@Model.id_grlconvenio"></a>
                                        }
                                        else
                                        {
                                            <a href="#" id="btnNovohorario" disabled='disabled' class="btn btn-primary" data-id="@Model.id_Stqcporcamento" data-convenio="@Model.id_grlconvenio">
                                                Aulas <span class="glyphicon glyphicon-plus" disabled='disabled'></span>
                                            </a>

                                        }

                                    }
                                    else
                                    {
                                        if (Model.itemorcamentos != null && Model.itemorcamentos.Any())
                                        {

                                            //int codigo, string pagina_origem, long orcamentoid = 0
                                            <a href="@Url.Action("Edit","Dentista", new
                                            { codigo = Model.Id_grldentista,
                                              pagina_origem ="Orcamento_horario",
                                              orcamentoid = Model.id_Stqcporcamento
                                        })" id="btnhorario" class="btn btn-primary" data-id="@Model.id_Stqcporcamento" data-convenio="@Model.id_grlconvenio">
                                                Horario prof. <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Edit","Dentista", new
                                            { codigo = Model.Id_grldentista,
                                              pagina_origem ="Orcamento_horario",
                                              orcamentoid = Model.id_Stqcporcamento
                                        })" id="btnhorario" disabled='disabled' class="btn btn-primary" data-id="@Model.id_Stqcporcamento" data-convenio="@Model.id_grlconvenio">
                                                Horario prof. <span class="glyphicon glyphicon-plus"></span>
                                            </a>

                                        }
                                    }
                                </div>

                                <div class="panel-body ">

                                    <div class="row">

                                        @if (Model != null && Model.horarios != null && Model.horarios.Any())
                                        {


                                            <div id="grid ">

                                                <table id="tabelaGridaulas" class="table table-bordered table-striped table-hover table-responsive dt-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Data</th>
                                                            <th>Dia</th>
                                                            <th>Horário</th>
                                                            <th>Status</th>
                                                            <th class="text-center"></th>
                                                            <th class="text-center"></th>


                                                        </tr>
                                                    </thead>
                                                    <tbody id="corpoTabelaGridOrcamentos">
                                                        @foreach (var item in Model.horarios)
                                                        {

                                                            <tr class="@item.idGercdaulas">

                                                                <td>@item.inicio.Substring(0, 10)</td>
                                                                <td>@item.dia_semana</td>
                                                                <td>@item.inicio.Substring(10, 6)  - @item.final.ToString().Substring(10, 6)</td>
                                                                <td>@item.status</td>

                                                                <td class="text-center col-sm-1">
                                                                    <a href="#" span class="glyphicon glyphicon-pencil btnGridEditarhorarios" data-id="@item.idGercdaulas"  title="Edição de Horários"></a>
                                                                </td>
                                                                <td class="text-center col-sm-1">
                                                                    <span class="glyphicon glyphicon-trash" title="Exclusão de Procedimentos"></span>
                                                                </td>

                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="panel-footer clearfix">
                                                <div class="pull-right">


                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="form-group col-sm-1">
                        @if (Model.itemorcamentos.Any())
                        {
                            <button type="submit" id="btnSalvar" name="btnSalvar" class="btn btn-primary" disabled='disabled'><span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>
                        }
                        else
                        {
                            <button type="submit" id="btnSalvar" name="btnSalvar" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>
                        }
                    </div>
                    <div class="form-group col-sm-1">
                        <a id="btnVoltar" href="@Url.Action("Index")" class=" btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                        </a>
                       
                    </div>
                    <div class="form-group col-sm-1">
                        
                        <a href="#" class="btn btn-primary btnLiberar" data-id="@Model.id_Stqcporcamento" data-toggle="modal" data-target="#modalInclusao">
                            App <span class="glyphicon glyphicon-plus"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </fieldset>

}

<div class="modal fade" id="modalCliente" data-carregadefault="true" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Consulta Cliente</h4>
            </div>
            <form id="formCliente" data-url="@Url.Action("ObterCliente", "Cliente")">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Pesquisar por:</label>

                            <select class="form-control" id="tipoConsultaModalCliente" name="tipoConsultaModalCliente">
                                <option value="codigo" selected>Código</option>
                                <option value="descricao">Nome</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label>Filtro</label>
                            <input type="text" class="form-control" id="descricaoModalCliente" name="descricaoModalCliente" onkeypress="return SomenteNumero()" required="required" />

                        </div>
                    </div>
                    <div class="row" id="body">
                        <table class="table table-condensed table-hover table-responsive">
                            <thead>
                                <tr style="background-color:#F8F8F8">
                                    <th class="col-sm-2 text-center">Código</th>
                                    <th>Descrição</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody id="tabelaCliente"></tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalDentista" data-carregadefault="true" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Consulta Dentista</h4>
            </div>
            <form id="formDentista" data-url="@Url.Action("ObterDentista", "Dentista")">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Pesquisar por:</label>

                            <select class="form-control" id="tipoConsultaModalDentista" name="tipoConsultaModalDentista">
                                <option value="codigo" selected>Código</option>
                                <option value="descricao">Nome</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label>Filtro</label>
                            <input type="text" class="form-control" id="descricaoModalDentista" name="descricaoModalDentista" onkeypress="return SomenteNumero()" required="required" />

                        </div>
                    </div>
                    <div class="row" id="body">
                        <table class="table table-condensed table-hover table-responsive">
                            <thead>
                                <tr style="background-color:#F8F8F8">
                                    <th class="col-sm-2 text-center">Código</th>
                                    <th>Descrição</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody id="tabelaDentista"></tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="modalExclusao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Exclusão de registro</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja realmente excluir este registro? </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary " id="btnModalExclusaoConfirmar">
                    <span class="glyphicon glyphicon-ok"></span> Confirma
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalExclusaoCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>


<div id="modalExclusao2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Exclusão de registro</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja realmente excluir todas as aulas ? </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary " id="btnModalExclusaoConfirmar2">
                    <span class="glyphicon glyphicon-ok"></span> Confirma
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalExclusaoCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modalAbertura" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Abertura de Titulo</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja realmente Abrir este Titulo? </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary " id="btnmodalAberturaConfirmar">
                    <span class="glyphicon glyphicon-ok"></span> Confirma
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnmodalAberturaCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modalInclusao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Inclusão de Contrato </h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja realmente Incluir o Contrato?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnmodalInclusaoConfirmar">
                    <span class="glyphicon glyphicon-ok"></span> Confirma
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnmodalInclusaoCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Aula</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>*
    <script>


        $(document).ready(function () {

            $('#tabelaGridaulas').DataTable();
            //var testa = testa_valor_pago();
            iniciarListaCliente(); //Iniciando a lista manualmente
            iniciarListaDentista();

            testa_valor_total();
            $('#panelEndereco').attr('disabled', 'disabled');

            if ("@Model.itemorcamentos.Count()" > 0) {
                $("#NomeDentista").attr("readonly", "true");
                $("#Dt_orcamento").attr("readonly", "true");
                $("#Obs").attr("readonly", "true");
                $("#id_grlconvenio").attr("disabled", "true");

                $("#NomeCliente").attr("readonly", "true");


            } else {

                $("#NomeDentista").removeAttr("readonly");
                $("#NomeCliente").removeAttr("readonly");
                $('#fspanelhorarios').attr('disabled', 'disabled');

                $("#Dt_orcamento").removeAttr("readonly");
                $("#Obs").removeAttr("readonly");
                $("#id_grlconvenio").removeAttr("disabled");;
            }
            $('#fspanelgerais').removeAttr('disabled');
            $('#fspanelorcamentos').removeAttr('disabled');

            $('.btnGridEditar').removeClass("black");
            $('.btnGridExcluir').removeClass("black");


            if ("@Model.titulos.Count()" > 0) {

                $('#fspanelorcamentos').attr('disabled', 'disabled');
                $('#fspanelgerais').attr('disabled', 'disabled');

                $('.btnGridEditar').addClass("black");
                $('.btnGridExcluir').addClass("black");
                $('.btnSalvar').attr('disabled', 'disabled');
                $('.btnSalvar').addClass("black");
            }

            //else {
            // $('#fspanelgerais').attr('disabled', 'disabled');

            //}


        });


        $(".btnGridExcluir").click(function (e) {
            if ("@Model.titulos.Count()" > 0) {
                alert("Não é possível excluir procedimentos. Títulos já emitidos");
                return false;
            } else {
                e.preventDefault();
                var id = $(this).data('id');

                var linha = $("." + id);
                $("#btnModalExclusaoConfirmar").off("click").click(function (e) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "OrcamentoItem")',
                        data: {
                            "codigo": id
                        },
                        success: function (data) {
                            if (data == true) {
                                linha.remove();
                                $('#modalExclusao').modal('hide');
                                location.reload();
                                if ($("#corpoTabelaGridOrcamentos").children("tr").length > 0) {
                                    return true;
                                } else {
                                    location.reload();
                                }
                            } else {
                                alert("Ocorreu um erro ao tentar excluir o registro.");
                                $("#btnModalExclusaoCancelar").click();
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
                });
            }
        });

           $(".btnGridExcluiraulas").click(function (e) {

                e.preventDefault();
               var id = $(this).data('id');


                $("#btnModalExclusaoConfirmar2").off("click").click(function (e) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Aula")',
                        data: {
                            "codigo": id
                        },
                        success: function (data) {
                            if (data == true) {

                                $('#modalExclusao').modal('hide');
                                location.reload();

                            } else {
                                alert("Ocorreu um erro ao tentar excluir o registro.");
                                $("#btnModalExclusaoCancelar").click();
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
                });

        });
        //editar procedimentos
        $('.btnGridEditar').click(function (e) {
            e.preventDefault();
            if ("@Model.titulos.Count()" > 0) {
                alert("Não é possível alterar procedimentos. Títulos já emitidos");
                return false;
            }
            else {
                var codigo = $(this).data('id');
            var codigo2 = @Model.id_grlconvenio;

            var url = '@Url.Action("Edit", "OrcamentoItem")' + '?codigo=' + codigo + '&codigo2=' + codigo2;

               // var url = '@Url.Action("Edit", "OrcamentoItem")' + '?codigo=' + $(this).data('id');

                var modal, modalDialog, modalContent;
                modal = $('<div id="modalEdicao" class="modal fade" "/>');
                modalDialog = $('<div class="modal-dialog modal-lg" />');
                modalContent = $('<div class="modal-content" />');

                modal.modal('hide')
                               .append(modalDialog)
                               .on('hidden.bs.modal', function () {

                                   $(this).remove();
                               })
                               .appendTo('body');

                modalDialog.append(modalContent);

                $.get(url, function (data) {
                    modalContent.html(data);
                    modal.modal('show');

                });
            }
        });

        $('.btnGridEditarhorarios').click(function (e) {
            e.preventDefault();

                var codigo = $(this).data('id');
            var codigo2 = @Model.id_grlconvenio;

            var url = '@Url.Action("Edithorario", "Orcamento")' + '?codigo=' + codigo ;

               // var url = '@Url.Action("Edit", "OrcamentoItem")' + '?codigo=' + $(this).data('id');

                var modal, modalDialog, modalContent;
                modal = $('<div id="modalEdicao" class="modal fade" "/>');
                modalDialog = $('<div class="modal-dialog modal-lg" />');
                modalContent = $('<div class="modal-content" />');

                modal.modal('hide')
                               .append(modalDialog)
                               .on('hidden.bs.modal', function () {

                                   $(this).remove();
                               })
                               .appendTo('body');

                modalDialog.append(modalContent);

                $.get(url, function (data) {
                    modalContent.html(data);
                    modal.modal('show');

                });

        });

        $('#btnNovo').click(function (e) {
            e.preventDefault();

            var codigo = $(this).data('id');
            var codigo2 = $(this).data('convenio');

            var url = '@Url.Action("Create", "OrcamentoItem")' + '?codigo=' + codigo + '&codigo2=' + codigo2;

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalInclusao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () {
                    $(this).remove();
                })
                .appendTo('body');


            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.on('show.bs.modal', function () { $(this).find('input:first').focus(); });
                modal.modal('show');
            });

        });

        $('#btnNovohorario').click(function (e) {
            e.preventDefault();

            var codigo = $(this).data('id');
            var codigo2 = $(this).data('convenio');

            var url = '@Url.Action("Create", "Aula")' + '?codigo=' + codigo + '&codigo2=' + codigo2;

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalInclusao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () {
                    $(this).remove();
                })
                .appendTo('body');


            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.on('show.bs.modal', function () { $(this).find('input:first').focus(); });
                modal.modal('show');
            });

        });
        $('#btnNovoTitulo').click(function (e) {


            e.preventDefault();

            var url = '@Url.Action("Create", "Titulo")' + '?codigo=' + $(this).data('id') + '&data=' + $("#Dt_orcamento").val();

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalInclusao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () { $(this).remove(); })
                .appendTo('body');


            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.on('show.bs.modal', function () { $(this).find('input:first').focus(); });
                modal.modal('show');
            });

        });


          $('#btnAlteraHorario').click(function (e) {


            e.preventDefault();

            var url = '@Url.Action("Gerencia", "HorarioProfessor")' + '?codigo=' + $(this).data('id') + '&data=' + $("#Dt_orcamento").val();

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalInclusao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () { $(this).remove(); })
                .appendTo('body');


            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.on('show.bs.modal', function () { $(this).find('input:first').focus(); });
                modal.modal('show');
            });

        });


        $('.btnGridEditarTitulo').click(function (e) {

            e.preventDefault();
            var url = '@Url.Action("Edit", "Titulo")' + '?codigo=' + $(this).data('id');

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalEdicao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () { $(this).remove(); })
                .appendTo('body');

            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.modal('show');
            });

        });

        $('.btnGridQuitarTitulo').click(function (e) {


            e.preventDefault();
            var url = '@Url.Action("Quitacao", "Titulo")' + '?codigo=' + $(this).data('id');

            var modal, modalDialog, modalContent;
            modal = $('<div id="modalEdicao" class="modal fade" "/>');
            modalDialog = $('<div class="modal-dialog modal-lg" />');
            modalContent = $('<div class="modal-content" />');

            modal.modal('hide')
                .append(modalDialog)
                .on('hidden.bs.modal', function () { $(this).remove(); })
                .appendTo('body');

            modalDialog.append(modalContent);

            $.get(url, function (data) {
                modalContent.html(data);
                modal.modal('show');
            });

        });

        $(".btnGridExcluirtitulo").click(function (e) {

            e.preventDefault();
            var id = $(this).data('id');

            var linha = $("." + id);
            $("#btnModalExclusaoConfirmar").off("click").click(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Titulo")',
                    data: {
                        "codigo": id
                    },
                    success: function (data) {
                        if (data == true) {
                            linha.remove();
                            $('#modalExclusao').modal('hide');
                            location.reload();
                        } else {
                            alert("Ocorreu um erro ao tentar excluir o registro.");
                            $("#btnModalExclusaoCancelar").click();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }

                });
            });

        });

        $(".btnLiberar").click(function (e) {

            e.preventDefault();
            var id = $(this).data('id');

            //var linha = $("." + id);
            $("#btnmodalInclusaoConfirmar").off("click").click(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("incluirApp", "Orcamento")',
                    data: {
                        "codigo": id
                    },
                    success: function (data) {
                        if (data == true) {

                            $('#modalInclusao').modal('hide');
                            alert("Contrato liberado para utilização no aplicativo!.");
                            location.reload();
                        } else {
                            alert("Ocorreu um erro ao tentar excluir o registro.");
                            $("#btnModalInclusaoCancelar").click();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }

                });
            });

        });
        $(".btnGridAbrirtitulo").click(function (e) {
            // e.preventDefault();
            // var url = '@Url.Action("Abrir", "Titulo")' + '?codigo=' + $(this).data('id');

            e.preventDefault();
            var id = $(this).data('id');

            var linha = $("." + id);
            $("#btnmodalAberturaConfirmar").off("click").click(function (e) {
                $.ajax({
                    type: 'POST',
                    //url: '@Url.Action("Delete", "Titulo")',
                    url: '@Url.Action("Abrir", "Titulo")',
                    data: {
                        "codigo": id
                    },
                    success: function (data) {
                        if (data == true) {
                            //linha.remove();
                            //$('#modalExclusao').modal('hide');
                            location.reload();
                        } else {
                            alert("Ocorreu um erro ao tentar excluir o registro.");
                            $("#btnModalExclusaoCancelar").click();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }

                });
            });

        });

        $(".btnteste").click(function (e) {

             alert("somaitens");
        });

        function testa_valor_total() {

            var soma_total_procedimentos = 0.00;
            var soma_total_titulos = 0.00;
            var soma_total_pagos = 0.00;
            var somatitulos = "";
            var somaprocedimentos = "";
            var somatitulospagos = 0.00;
            var tc = document.getElementById("somaitens");

            if (tc != null) {

                var tamanho = tc.innerText.length;

                somaprocedimentos = tc.innerText.substr(12, tamanho);
            }
            var tc2 = document.getElementById("somatitulos");
            if (tc2 != null) {
                var tamanho2 = tc2.innerText.length;
                somatitulos = tc2.innerText.substr(24, tamanho2);
            }
            soma_total_procedimentos = somaprocedimentos.replace(",", ".");
            soma_total_procedimentos = parseFloat(soma_total_procedimentos);
            soma_total_titulos = somatitulos.replace(",", ".");
            soma_total_titulos = parseFloat(soma_total_titulos);

            /* var pago = testa_valor_pago();

         if (pago) {

             $('#fspanelorcamentos').attr('disabled', 'disabled');
             $('#fspanelgerais').attr('disabled', 'disabled');
             $('#fspaneltitulos').attr('disabled', 'disabled');


             $('.btnGridEditar').addClass("black");
             $('.btnGridExcluir').addClass("black");


             $('.btnGridEditarTitulo').addClass("black");
             $('.btnGridQuitarTitulo').addClass("black");
             $('.btnGridExcluirtitulo').addClass("black");
         } else {
             if (soma_total_procedimentos == soma_total_titulos) {
                 $('#fspaneltitulos').attr('disabled', 'disabled');

             } else {
                 $('#fspaneltitulos').removeAttr('disabled');
             }

         }*/


        }

        function testa_valor_pago() {

            var soma_total_pago = 0.00;
            var somatitulospagos = 0.00;
            var tc3 = document.getElementById("somatitulospagos");
            if (tc3 != null) {
                var tamanho3 = tc3.innerText.length;
                somatitulospagos = tc3.innerText.substr(30, tamanho3);
            }
            soma_total_pago = somatitulospagos.replace(",", ".");
            soma_total_pago = parseFloat(soma_total_pago);

            if (soma_total_pago > 0) {
                return true;
            } else {
                return false;
            }
        }


    </script>
    @Scripts.Render("~/Scripts/gtec/modal.Cliente.js")
    @Scripts.Render("~/Scripts/gtec/modal.Dentista.js")

}





