@model GtecIt.ViewModels.TituloapagarEditViewModel
<script src="~/Scripts/defaults.js"></script>
@{
    Layout = null;
}
<form id="formEdicao" class="form-horizontal" role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar - Titulos</h4>
    </div>
    <div class="modal-body">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.id_fintitpg)
        @Html.HiddenFor(x => Model.Id_stqnoten)
        <div class="form-group">
            <div class="col-md-3">
                <label>Titulo No.</label>
                @Html.TextBoxFor(model => model.num_titulo, new { @class = "form-control", @name = "num_titulo", @id = "num_titulo", @autofocus="autofocus" })
            </div>
            <div class="col-md-2">
                <label>Emissão</label>
                @Html.TextBoxFor(model => model.dt_emissao, new { @class = "form-control text-center datesimple", @autofocus = "autofocus", required = "required", @name = "dt_emissao", @id = "dt_emissao" })
            </div>

            <div class="col-md-3">
                <label>Valor</label>

                @Html.TextBoxFor(model => model.valor, new { @class = "form-control text-right dinheiro", @name = "valor", @id = "valor", required = "required" })
            </div>
            <div class="col-md-2">
                <label>Vencimento</label>
                @Html.TextBoxFor(model => model.dt_vencimento, new { @class = "form-control datesimple", required = "required", @name = "dt_vencimento", @id = "dt_vencimento" })
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
</form>

<script type="text/javascript">


    $('#formEdicao').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Tituloapagar")',
            data: $("#formEdicao").serialize(),
            success: function (result) {

                if (result.resultado ==true) {


                    location.reload();
                    $("#modalEdicao").modal('hide');
                }
                else {

                   alert(result.Mensagem);
                }
            },
            error: function (xhr, status, error) {

                alert(error);
            }
        });
    });

</script>
