@{
    ViewBag.Title = "Agenda de Aulas";
}

@model GtecIt.ViewModels.EventCreateViewModel

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<h2>Calendario de Aulas</h2>

<fieldset>
    <legend></legend>
    
    <div class="col-sm-5">

        <label for="Professor" class="control-label">Professor</label>
        @Html.DropDownListFor(x => x.id_grldentista, Model.DropdownProfessor, "TODOS", new { @class = "form-control", @autofocus = "autofocus", @name = "professor", @id = "professor" })

    </div>
    <div class="col-sm-5">
        <label for="Professor" class="control-label">Contrato</label>
        @Html.DropDownListFor(x => x.id_contrato, Model.DropdownAluno, "TODOS", new { @class = "form-control", @autofocus = "autofocus", @name = "contrato", @id = "contrato" })

    </div>
    <a id="btnpesquisa" class=" btn btn-primary" style="margin-top: 25px; ">
        <span class="glyphicon glyphicon-search"></span>
    </a>
    <button type="button" class="btn btn-primary" id="btnlimpar" style="margin-top: 25px; ">
        <span class="glyphicon glyphicon-erase"></span>
    </button>

</fieldset>


<br />
<br />
<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Excluir
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Incluir Aula</h4>
            </div>
            <div class="modal-body">
                <div id="divErros">
                </div>
                <form class="form-group-md">
                    <label for="departmentsDropdown"><b>Aluno</b></label>
                    <div class="form-group">
                        <select class="form-control" id="departmentsDropdown" name="departmentsDropdown"></select>
                    </div>
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Contrato</label>
                                <input type="text" id="txtSubject" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Cor do envento</label>
                            <select id="ddThemeColor" class="form-control">
                                <option value="">Default</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="black">Black</option>
                                <option value="green">Green</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="professorDropdown"><b>Professor</b></label>
                            <div class="form-group">
                                <select class="form-control" id="professorDropdown" name="professorDropdown"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Incio</label>
                                <div class="input-group date" id="dtp1">
                                    <input type="text" id="txtStart" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="divEndDate">
                                <label>Termino</label>
                                <div class="input-group date" id="dtp2">
                                    <input type="text" id="txtEnd" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Observação</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>


                    <button type="button" id="btnSave" class="btn btn-success">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/pt-br.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#divErros").empty();
            var events = [];
            var codigo = 0;
            var codigo2 = 0;
            console.log(events);
            var selectedEvent = null;
            console.log(selectedEvent);
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                 codigo = $('#professor option:selected').val();
                codigo2 = $('#contrato option:selected').val();
                if (codigo.length == 0)
                    codigo = 0;
                if (codigo2.length == 0)
                    codigo2 = 0;

                events = [];
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetEvents", "Events")',
                    data: {
                        id_professor: codigo,
                        id_contrato: codigo2
                    },
                    success: function (data) {
                        
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.EventID,
                                title: v.Subject,
                                description: v.Description,
                                start: v.Start != null ? moment(v.Start) : null,
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor != null ? moment(v.ThemeColor) : null ,
                                allDay: v.IsFullDay,
                                contrato: v.contrato,
                                professor: v.professor
                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert(error.$description);
                       

                    }
                })
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    lang: 'pt-br',
                    contentHeight: 400,
                    defaultDate: new Date(),

                    timeFormat: 'h(:mm)a',

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },

                    eventLimit: true,

                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {

                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Inicio: </b>' + calEvent.start.format("DD-MM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>Termino: </b>' + calEvent.end.format("DD-MM-YYYY HH:mm a")));
                        }
                        if (calEvent.description != null) {
                            $description.append($('<p/>').html('<b>Observação:</b>' + calEvent.description));

                        }
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: '',
                            contrato: 0,
                            professor: 0
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            EventID: event.eventID,
                            Subject: event.title,
                            Start: event.start.format('DD/MM/YYYY HH:mm A'),
                            End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                            Description: event.description != null ? event.description : "",
                            ThemeColor: event.color,
                            IsFullDay: event.allDay,
                            contrato: event.contrato,
                            professor: event.profId
                        };
                        SaveEvent(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                $("#divErros").empty();
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Deseja Excluir a aula?')) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteEvent", "Events")',

                        data: { 'eventID': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                            else
                            {
                                alert("Nâo é Possivel Excluir Esse horario. Aula ja concluida!");
                                $("#divErros").empty();

                                var i = 0;
                                $(data.msg).each(function () {


                                    $("#divErros").append("<p style=color:red>" + "* " + data.msg[i] + "</p>");

                                    i = i + 1;

                                    //crie uma divErros em sua modal.
                                });
                            }
                        

                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });


            $('#departmentsDropdown').change(function () {
                var contrato = $('#departmentsDropdown option').filter(':selected').val()
                var texto = $('#departmentsDropdown :selected').text();

                $('#txtSubject').val = ("");

                $('#txtSubject').val("Contrato " + contrato + " - " + texto);


            });



            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            });

            function openAddEditForm() {
                $("#divErros").empty();
                if (selectedEvent != null) {

                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                    $("#departmentsDropdown option").filter(':selected').val(selectedEvent.contrato)
                    $("#professorDropdown option").filter(':selected').val(selectedEvent.profId)

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("getContratos", "Events")',

                        data: "{}",
                        success: function (data) {
                            var s = '<option value="-1">Selecione o aluno</option>';
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].DepartmentID == selectedEvent.contrato) {

                                    s += '<option value="' + data[i].DepartmentID + '"selected>' + data[i].DepartmentName + '</option>';

                                }
                                else {
                                    s += '<option value="' + data[i].DepartmentID + '">' + data[i].DepartmentName + '</option>';
                                }

                            }
                            $("#departmentsDropdown").html(s);
                        }
                    });
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("getProfessores", "Events")',

                        data: "{}",
                        success: function (data) {
                            var s = '<option value="-1">Selecione o professor</option>';
                            for (var i = 0; i < data.length; i++) {

                                if (data[i].ProfessorID == selectedEvent.professor) {

                                    s += '<option value="' + data[i].ProfessorID + '"selected>' + data[i].ProfessorName + '</option>';
                                }
                                else {
                                    s += '<option value="' + data[i].ProfessorID + '">' + data[i].ProfessorName + '</option>';
                                }

                            }
                            $("#professorDropdown").html(s);
                        }
                    });
                }
                $('#myModal').modal('hide');

                $('#myModalSave').modal();
            }

            $('#btnSave').click(function () {

                /*if ($("#departmentsDropdown option").filter(':selected').val() <=0) {
                    alert('Selecione um Aluno');
                    return;
                }

                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }*/

                var data = {
                    EventID: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked'),
                    contrato: $('#departmentsDropdown option').filter(':selected').val(),
                    professor: $('#professorDropdown option').filter(':selected').val()
                }
                SaveEvent(data);
                // call function for submit data to the server
            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveEvent", "Events")',

                    data: data,
                    success: function (data) {
                        if (data.Sucesso == true) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                        else {
                            $("#divErros").empty();

                            var i = 0;
                            $(data.msg).each(function () {


                                $("#divErros").append("<p style=color:red>" + "* " + data.msg[i] + "</p>");

                                i = i + 1;

                                //crie uma divErros em sua modal.
                            });


                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }

            $('#btnpesquisa').click(function () {
                FetchEventAndRenderCalendar();
            });

            $('#btnlimpar').click(function () {
                window.location.href = '@Url.Action("Index", "Events")';
            });


        });


    </script>
}

