@model GtecIt.ViewModels.PrecoPlanoCreateViewModel

<script src="~/Scripts/defaults.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="~/Scripts/methods_pt.js"></script>
@{
    Layout = null;
}
<form id="formInclusao" class="form-horizontal" role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Incluir - Preço</h4>
    </div>
    <div class="modal-body">
        <div id="divErros">
        </div>
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => Model.id_stqcdprd)
    <div class="form-group">
        <div class="col-sm-2">
            <label>Plano</label>
            @Html.DropDownListFor(x => x.idGrlplanos, Model.DropdownConvenio, "Selecione...", new { @class = "form-control", @name = "id_grlconvenio", @id = "id_grlconvenio", @autofocus = "autofocus" })
        </div>

        <div class="col-md-2">
            <label>Preço</label>
            @Html.TextBoxFor(model => model.preco, new { @class = "form-control text-right dinheiro", @name = "preco", @id = "preco", required = "required" })
        </div>

        <div class="col-md-2">
            <label for="Emissao" class="control-label text-left">Emissão</label>
            @Html.TextBoxFor(model => model.vigencia, "{0:dd/MM/yyyy}", new { @class = "form-control text-left datesimple", @autofocus = "autofocus", @name = "vigencia", @id = "vigencia" })
        </div>
        <div class="col-md-2">
            <label for="Qtd aulas" class="control-label text-left">No. de Aulas</label>
            @Html.TextBoxFor(model => model.qtd_aulas, new { @class = "form-control text-left " })

        </div>
        <div class="col-md-2">
            <label for="Dias Plano" class="control-label text-left">No. de Dias</label>
            @Html.TextBoxFor(model => model.qtd_dias_plano, new { @class = "form-control text-left", @autofocus = "autofocus" })
        </div>
        <div class="col-md-2">
            <label for="Dias Plano" class="control-label text-left">Jogo livre</label>
            @Html.TextBoxFor(model => model.valor2, new { @class = "form-control text-left", @autofocus = "autofocus" })
        </div>
    </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {



    });

    $('#formInclusao').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "PrecoPlano")',
            data: $("#formInclusao").serialize(),
            success: function (result) {

                if (result.Sucesso == true) {
                    location.reload();
                    $("modalInclusao").modal('hide');
                }
                else
                {



                    $("#divErros").empty();

                    var i = 0;
                    $(result.msg).each(function () {


                        $("#divErros").append("<p style=color:red>" + "* " + result.msg[i] + "</p>");

                        i = i + 1;

                        //crie uma divErros em sua modal.
                    });


                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

</script>
